body{
    background-image: url('images/background.jpg');
	color: white;
	    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
	margin-top: 50px;
	    font-family: 'Frank Ruhl Libre';
		font:Frank Ruhl Libre Black;
}

h1{
	font: Arial Unicode MS;
	font-size: 50;
	text-align: center;
}

h2{
	font-size: 45; 
	color: white;
	margin-top: 100px;
}

h3{
	font-size: 35; 
	color: white;
	margin-top: 50px;
	position:relative;
	@media (max-width:768px){
		font-size:20;
	}
}

a:link{
	color: white;
}

a:hover{
	font-weight:bold;
}
	
a:visited{
	color: violet;
}

a:visited:hover{
	color: blue;
	font-weight:bold;
}

dl{
	font: Frank Ruhl Libre Black;
	font-size: 16;
	line-height: 1.7;
}

#whoAmI {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


#MyName{
	position:absolute;top:80; right:600;"
	font: Frank Ruhl Libre Black;
	font-size: 70;
	text-align: center;
	color: white;
	@media (max-width:768px){
		position:relative;
		font-size:30px;
		
	}
}

#banner{
	height:200;
	width:70%;
	position:top:70;left:200;
	@media (max-width:768px){
		width:100%
	}
}

#pageBanner{
	height:200;
	width:70%;
	vertical-align:middle;
	@media (max-width:768px){
		
		width:100%;
	}
}

#inbal {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 130px;
  height: 130px;
  object-fit:cover;
  margin-right:20px;
  margin-left:20px;
  @media (max-width:768px){
	   width:70px;
	   height:70px;
  }
}

#aboutMeHeadline{
   display:flex;
   flex-direction:row;
   align-items:center;
   text-align: center;
    @media (max-width:768px){
	   flex-direction:column;
	   align-items:center;
	   width:50%;
  }
}
#aboutMeText{
 font: Frank Ruhl Libre Black;
  text-align: right;
  line-height:1.5;
	   width: 100%
	    @media (max-width:768px)
		{
			width:50%
		}
}

.text-box {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; 
    padding: 20px;
    background-color:none;
    @media (max-width: 768px) {
        width: 95%;
    }
}


#SiteLinks{
  position: absolute;
  top: 400px;
  right: 200px;
  width: 300px;
  text-align: right;
    @media (max-width:768px){
	  position: relative;
	  margin-top: 20px;		
	  text-align: right; 
	  width: 100%
   }
}
.glassIcon{
	width: 30px;
	height:30px;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 35px;
}
.listItem{
	display: flex; 
	justify-content: flex-end
}

#WWWIcon {
	width: 20px;
	border: 1px solid #ddd;
	border-width: 0;
}

#FacebookIcon{
	width: 20px;
	border: 1px solid #ddd;
}

#TelegramIcon{
	width: 20px;
	border: 1px solid #ddd;
}


#TopLinks{
	text-align: center;
	color:white;
	font-size: 20;
	@media (max-width:768px){
		font-size: 10px;
	}
}

#BackToHome{
	text-align: center;
}
	
iframe{
	display: block;
	margin: 0 auto;
}

#JobLinks{
	text-align: center;
}

.collapsible{
	margin-right: 700px;
	text-align: right;
	@media (max-width:768px){
		margin-right:0px;
	}
}

.hidden {
    display: none;
}

#contactForm{
	text-align: center;
}







	
